<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated evolution -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.kalafatic.evolution.model.orchestration.presentation.OrchestrationModelWizardID"
            name="%_UI_OrchestrationModelWizard_label"
            class="eu.kalafatic.evolution.model.orchestration.presentation.OrchestrationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/evo_model.svg">
         <description>%_UI_OrchestrationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated evolution -->
      <editor
            id="eu.kalafatic.evolution.model.orchestration.presentation.OrchestrationEditorID"
            name="%_UI_OrchestrationEditor_label"
            icon="icons/evo_model.svg"
            extensions="orchestration"
            class="eu.kalafatic.evolution.model.orchestration.presentation.OrchestrationEditor"
            contributorClass="eu.kalafatic.evolution.model.orchestration.presentation.OrchestrationActionBarContributor">
      </editor>
   </extension>
</plugin>
