<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Save"
            id="eu.kalafatic.evolution.controller.saveCommand">
      </command>
      <command
            name="Maven Build"
            id="eu.kalafatic.evolution.controller.mavenBuildCommand">
      </command>
      <command
            name="Git Commit"
            id="eu.kalafatic.evolution.controller.gitCommitCommand">
      </command>
      <command
            name="Orchestrate"
            id="eu.kalafatic.evolution.controller.orchestrationCommand">
      </command>
      <command
            name="Generate AI Metadata"
            id="eu.kalafatic.evolution.controller.generateMetadataCommand">
      </command>
   </extension>
   <extension
         id="eu.kalafatic.evolution.controller.headless"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.evolution.controller.application.HeadlessApplication"
            name="Evolution Headless">
         <property
               name="appName"
               value="Evolution Headless">
         </property>
      </product>
   </extension>
   <extension
         id="eu.kalafatic.evolution.controller.application.HeadlessApplication"
         name="Evolution Headless"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="false">
         <run
               class="eu.kalafatic.evolution.controller.application.HeadlessApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eu.kalafatic.evolution.controller.saveCommand"
            class="eu.kalafatic.evolution.controller.handlers.SaveCommandHandler">
      </handler>
      <handler
            commandId="eu.kalafatic.evolution.controller.mavenBuildCommand"
            class="eu.kalafatic.evolution.controller.handlers.MavenBuildCommandHandler">
      </handler>
      <handler
            commandId="eu.kalafatic.evolution.controller.gitCommitCommand"
            class="eu.kalafatic.evolution.controller.handlers.GitCommitCommandHandler">
      </handler>
      <handler
            commandId="eu.kalafatic.evolution.controller.orchestrationCommand"
            class="eu.kalafatic.evolution.controller.handlers.OrchestrationCommandHandler">
      </handler>
      <handler
            commandId="eu.kalafatic.evolution.controller.generateMetadataCommand"
            class="eu.kalafatic.evolution.controller.handlers.GenerateMetadataHandler">
      </handler>
   </extension>
</plugin>
