<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="eu.kalafatic.evolution.view.product"
         point="org.eclipse.core.runtime.products">
      <product
            name="AI Evolution"
            application="eu.kalafatic.evolution.view.application.Application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="AI Evolution">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
   		 <property
               name="startupProgressRect"
               value="212,348,350,2">
         </property>
         <property
               name="startupMessageRect"
               value="212,335,350,5">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
      </product>
   </extension>

   <extension
         id="eu.kalafatic.evolution.view.application.Application"
         name="EVO"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="eu.kalafatic.evolution.view.application.Application">
         </run>
      </application>
   </extension>
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.evolution.view.perspective.EvoPerspective"
            fixed="true"
            id="eu.kalafatic.evolution.view.evoPerspective"
            name="Evo">
      </perspective>
   </extension>
   <extension
         id="eu.kalafatic.views.EvoNavigator"
         name="Evo Navigator"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="eu.kalafatic.views.EvoNavigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Orchestration Graph"
            icon="icons/evo_graph.svg"
            class="eu.kalafatic.evolution.view.views.OrchestrationZestView"
            id="eu.kalafatic.evolution.view.orchestrationZestView">
      </view>
      <view
            name="Properties"
            icon="icons/evo_settings.svg"
            class="eu.kalafatic.evolution.view.views.PropertiesView"
            id="eu.kalafatic.evolution.view.propertiesView">
      </view>
      <view
            class="eu.kalafatic.evolution.view.views.TaskTreeView"
            icon="icons/evo_diagram.svg"
            id="eu.kalafatic.evolution.view.taskTreeView"
            name="Task Tree">
      </view>
      <view
            class="eu.kalafatic.evolution.view.views.CommandStackView"
            icon="icons/evo_stack.svg"
            id="eu.kalafatic.evolution.view.commandStackView"
            name="Command Stack">
      </view>
      <view
            class="eu.kalafatic.evolution.view.views.AIOutputView"
            icon="icons/evo_chat.svg"
            id="eu.kalafatic.evolution.view.aiOutputView"
            name="AI Output">
      </view>
      <view
            class="eu.kalafatic.evolution.view.views.EvoNavigator"
            icon="icons/evo_navigator.svg"
            id="eu.kalafatic.views.EvoNavigator"
            name="Evo Navigator">
      </view>
      <view
            class="eu.kalafatic.evolution.view.views.InternalBrowserView"
            icon="icons/evo_browser.svg"
            id="eu.kalafatic.evolution.view.views.InternalBrowserView"
            name="Internal Browser">
      </view>
      <view
            class="eu.kalafatic.utils.views.ConsoleView"
            icon="icons/evo_chat.svg"
            id="eu.kalafatic.gemini.core.views.ConsoleView"
            name="Log Console">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.kalafatic.evolution.view.provider.OrchestrationNavigatorContentProvider"
            id="eu.kalafatic.evolution.view.orchestrationContent"
            labelProvider="eu.kalafatic.evolution.view.provider.OrchestrationNavigatorLabelProvider"
            name="Orchestrations"
            priority="high">
         <triggerPoints>
           
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.EvoProject">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Orchestrator">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Agent">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Task">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Git">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Maven">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.LLM">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Compiler">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.Ollama">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.AiChat">
               </instanceof>
               <instanceof
                     value="eu.kalafatic.evolution.model.orchestration.NeuronAI">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="eu.kalafatic.evolution.view.provider.OrchestrationEditorActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="eu.kalafatic.evolution.view.orchestrationContent">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="eu.kalafatic.evolution.view.orchestrationContent">
            </contentExtension>
         </includes>
         <excludes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.dotProject">
            </contentExtension>
         </excludes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="eu.kalafatic.views.EvoNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="eu.kalafatic.evolution.view.orchestrationContent">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="eu.kalafatic.views.EvoNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="eu.kalafatic.evolution.view.orchestrationContent">
            </contentExtension>
         </includes>
         <excludes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.dotProject">
            </contentExtension>
         </excludes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="setup"
               label="Setup">
            <command
                  commandId="eu.kalafatic.evolution.view.setupOllama"
                  icon="icons/evo_settings.svg"
                  label="Setup Ollama"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.setupOllamaModel"
                  label="Setup Ollama Model"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.setupLLM"
                  icon="icons/evo_settings.svg"
                  label="Setup LLM"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.setupWorkspace"
                  label="Setup Workspace"
                  style="push">
            </command>
         </menu>
         <menu
               id="file"
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New Evo Task"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.kalafatic.evolution.view.newEvoTaskWizard">
               </parameter>
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.openEvoTasks"
                  label="Open Evo Tasks"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.saveEvoTasks"
                  label="Save Evo Tasks"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.controller.orchestrationCommand"
                  icon="icons/evo_orchestrate.svg"
                  label="Orchestrate"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.ui.ide.file"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import Evo Tasks"
                  style="push">
               <parameter
                     name="importWizardId"
                     value="eu.kalafatic.evolution.view.importEvoTasksWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export Evo Tasks"
                  style="push">
               <parameter
                     name="exportWizardId"
                     value="eu.kalafatic.evolution.view.exportEvoTasksWizard">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="eu.kalafatic.evolution.view.contextMenu"
               label="AI Evolution">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activePartId">
                     <or>
                        <equals
                              value="eu.kalafatic.evolution.view.orchestrationZestView">
                        </equals>
                        <equals
                              value="eu.kalafatic.evolution.view.taskTreeView">
                        </equals>
                        <equals
                              value="eu.kalafatic.evolution.view.aiOutputView">
                        </equals>
                        <equals
                              value="eu.kalafatic.evolution.view.editors.MultiPageEditor">
                        </equals>
                        <equals
                              value="eu.kalafatic.views.EvoNavigator">
                        </equals>
                        <equals
                              value="org.eclipse.ui.navigator.ProjectExplorer">
                        </equals>
                        <equals
                              value="eu.kalafatic.evolution.view.propertiesView">
                        </equals>
                     </or>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="eu.kalafatic.evolution.model.orchestration.EvoProject">
                           </instanceof>
                           <instanceof
                                 value="eu.kalafatic.evolution.model.orchestration.Orchestrator">
                           </instanceof>
                           <instanceof
                                 value="eu.kalafatic.evolution.model.orchestration.Agent">
                           </instanceof>
                           <instanceof
                                 value="eu.kalafatic.evolution.model.orchestration.Task">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="eu.kalafatic.evolution.view.evolutionNature">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New Evo Project"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.kalafatic.evolution.view.newEvoProjectWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New Evo Task"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.kalafatic.evolution.view.newEvoTaskWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Add Orchestration"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.kalafatic.evolution.view.addOrchestrationWizard">
               </parameter>
            </command>
            <separator
                  name="evolutionSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.kalafatic.evolution.controller.orchestrationCommand"
                  icon="icons/evo_orchestrate.svg"
                  label="Orchestrate"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.editTask"
                  label="Edit Task"
                  style="push">
            </command>
            <separator
                  name="fileSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.kalafatic.evolution.view.openEvoTasks"
                  label="Open Evo Tasks"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.saveEvoTasks"
                  label="Save Evo Tasks"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.controller.saveCommand"
                  label="Save to File"
                  style="push">
            </command>
            <separator
                  name="buildSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.kalafatic.evolution.controller.mavenBuildCommand"
                  label="Maven Build"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.controller.gitCommitCommand"
                  label="Git Commit"
                  style="push">
            </command>
            <separator
                  name="reloadSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.kalafatic.evolution.view.reloadOrchestration"
                  label="Refresh View (Reload)"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.refreshNavigator"
                  label="Refresh Navigator"
                  style="push">
            </command>
            <separator
                  name="ioSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import Evo Tasks"
                  style="push">
               <parameter
                     name="importWizardId"
                     value="eu.kalafatic.evolution.view.importEvoTasksWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export Evo Tasks"
                  style="push">
               <parameter
                     name="exportWizardId"
                     value="eu.kalafatic.evolution.view.exportEvoTasksWizard">
               </parameter>
            </command>
            <separator
                  name="setupSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.kalafatic.evolution.view.setupOllama"
                  icon="icons/evo_settings.svg"
                  label="Setup Ollama"
                  style="push">
            </command>
            <command
                  commandId="eu.kalafatic.evolution.view.setupLLM"
                  icon="icons/evo_settings.svg"
                  label="Setup LLM"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.evolution.view.editors.MultiPageEditor"
            contributorClass="eu.kalafatic.evolution.view.editors.MultiPageEditorContributor"
            default="true"
            extensions="xml,evo"
            icon="icons/evo_editor.svg"
            id="eu.kalafatic.evolution.view.editors.MultiPageEditor"
            name="Evo Multi-page Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.kalafatic.evolution.view.category"
            name="AI Evolution">
      </category>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.NewEvoTaskWizard"
            id="eu.kalafatic.evolution.view.newEvoTaskWizard"
            name="New Evo Task">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.SetupOllamaWizard"
            id="eu.kalafatic.evolution.view.setupOllamaWizard"
            name="Setup Ollama">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.SetupOllamaModelWizard"
            id="eu.kalafatic.evolution.view.setupOllamaModelWizard"
            name="Setup Ollama Model">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.SetupLLMWizard"
            id="eu.kalafatic.evolution.view.setupLLMWizard"
            name="Setup LLM">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.NewEvoProjectWizard"
            id="eu.kalafatic.evolution.view.newEvoProjectWizard"
            name="New Evo Project">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.AddOrchestrationWizard"
            id="eu.kalafatic.evolution.view.addOrchestrationWizard"
            name="Add Orchestration">
      </wizard>
      <wizard
            category="eu.kalafatic.evolution.view.category"
            class="eu.kalafatic.evolution.view.wizards.NewAiSessionWizard"
            id="eu.kalafatic.evolution.view.newSessionWizard"
            name="New Session">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="eu.kalafatic.evolution.view.wizards.ImportEvoTasksWizard"
            id="eu.kalafatic.evolution.view.importEvoTasksWizard"
            name="Import Evo Tasks">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.kalafatic.evolution.view.wizards.ExportEvoTasksWizard"
            id="eu.kalafatic.evolution.view.exportEvoTasksWizard"
            name="Export Evo Tasks">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.kalafatic.evolution.view.openEvoTasks"
            name="Open with Evo Editor">
      </command>
      <command
            id="eu.kalafatic.evolution.view.saveEvoTasks"
            name="Save Evo Tasks">
      </command>
      <command
            id="eu.kalafatic.evolution.view.editTask"
            name="Edit Task">
      </command>
      <command
            id="eu.kalafatic.evolution.view.setupOllama"
            name="Setup Ollama">
      </command>
      <command
            id="eu.kalafatic.evolution.view.setupOllamaModel"
            name="Setup Ollama Model">
      </command>
      <command
            id="eu.kalafatic.evolution.view.setupLLM"
            name="Setup LLM">
      </command>
      <command
            id="eu.kalafatic.evolution.view.setupWorkspace"
            name="Setup Workspace">
      </command>
      <command
            id="eu.kalafatic.evolution.view.reloadOrchestration"
            name="Reload Orchestration">
      </command>
      <command
            id="eu.kalafatic.evolution.view.refreshNavigator"
            name="Refresh Navigator">
      </command>
      <command
            id="eu.kalafatic.evolution.view.newAiSession"
            name="New AI Session">
      </command>
      <command
            id="eu.kalafatic.evolution.view.mediatedAnalysis"
            name="General Mediated Analysis">
      </command>
      <command
            id="eu.kalafatic.utils.p2.update"
            name="Check for Updates">
      </command>
      <command
            id="eu.kalafatic.utils.p2.install"
            name="Install New Software...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.evolution.view.handlers.OpenEvoTasksHandler"
            commandId="eu.kalafatic.evolution.view.openEvoTasks">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.SaveEvoTasksHandler"
            commandId="eu.kalafatic.evolution.view.saveEvoTasks">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.EditTaskHandler"
            commandId="eu.kalafatic.evolution.view.editTask">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.SetupOllamaHandler"
            commandId="eu.kalafatic.evolution.view.setupOllama">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.SetupOllamaModelHandler"
            commandId="eu.kalafatic.evolution.view.setupOllamaModel">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.SetupLLMHandler"
            commandId="eu.kalafatic.evolution.view.setupLLM">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.SetupWorkspaceHandler"
            commandId="eu.kalafatic.evolution.view.setupWorkspace">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.ReloadOrchestrationHandler"
            commandId="eu.kalafatic.evolution.view.reloadOrchestration">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.RefreshNavigatorHandler"
            commandId="eu.kalafatic.evolution.view.refreshNavigator">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.NewAiSessionHandler"
            commandId="eu.kalafatic.evolution.view.newAiSession">
      </handler>
      <handler
            class="eu.kalafatic.evolution.view.handlers.MediatedAnalysisHandler"
            commandId="eu.kalafatic.evolution.view.mediatedAnalysis">
      </handler>
      <handler
            class="eu.kalafatic.utils.p2.UpdateHandler"
            commandId="eu.kalafatic.utils.p2.update">
      </handler>
      <handler
            class="eu.kalafatic.utils.p2.InstallHandler"
            commandId="eu.kalafatic.utils.p2.install">
      </handler>
   </extension>
   <extension
         id="eu.kalafatic.evolution.view.evolutionNature"
         name="Evolution Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eu.kalafatic.evolution.view.nature.EvolutionNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/evo_project_nature.svg"
            id="eu.kalafatic.evolution.view.evolutionNatureImage"
            natureId="eu.kalafatic.evolution.view.evolutionNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.kalafatic.evolution.view.newAiSession"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="eu.kalafatic.evolution.view.product"
            splashId="eu.kalafatic.evolution.controller.splashHandlers.EvolutionSplashHandler">
      </splashHandlerProductBinding>
      <splashHandler
            class="eu.kalafatic.evolution.controller.splashHandlers.EvolutionSplashHandler"
            id="eu.kalafatic.evolution.controller.splashHandlers.EvolutionSplashHandler">
      </splashHandler>
   </extension>
   
</plugin>
